In [5]:
import pandas as pd

url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/titanic.csv'

dataframe = pd.read_csv(url, error_bad_lines=False)

dataframe.head()

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [7]:
from nltk.tokenize import word_tokenize

string = 'The science of today is the technology of tomorrow'

word_tokenize(string)

['The', 'science', 'of', 'today', 'is', 'the', 'technology', 'of', 'tomorrow']

In [8]:
# Tokenizing sentences

from nltk.tokenize import sent_tokenize

string = 'The science of today is the technology of tomorrow. Tomorrow is today.'

sent_tokenize(string)

['The science of today is the technology of tomorrow.', 'Tomorrow is today.']

In [12]:
from nltk.corpus import stopwords

tokenized_words = ['i',
                   'am',
                   'going',
                   'to',
                   'go',
                   'the',
                   'store',
                   'and',
                   'park']

stop_words = stopwords.words('english')

[word for word in tokenized_words if word not in stop_words]

['going', 'go', 'store', 'park']

In [14]:
stop_words[:5]

['i', 'me', 'my', 'myself', 'we']

In [15]:
# Stemming words
from nltk.stem.porter import PorterStemmer

tokenized_words = ['i', 'am', 'humbled', 'by', 'this', 'traditional', 'meeting']

# Create stemmer
porter = PorterStemmer()

# Apply stemmer
[porter.stem(word) for word in tokenized_words]

['i', 'am', 'humbl', 'by', 'thi', 'tradit', 'meet']