In [14]:
from pprint import pprint
class Runners:
    def __init__(self, name, distance, weight):
        self.name = name
        self.distance = distance
        self.weight = weight
    def __repr__(self):
        return f'Runners({self.name!r}, {self.distance}, {self.weight})'
    
runners = [
    Runners('Alicia', 5000, 150),
    Runners('Victoria', 3000, 134),
    Runners('Nick', 5000, 160),
    Runners('Angela', 5000, 135),
    Runners('Liz', 5000, 145),
    Runners('Andrew', 3000, 152),
    Runners('Justin', 5000, 160),
    Runners('Alex', 5000, 150)
]

In [10]:
runners.sort(key=lambda x: -x.weight)
pprint(runners)

[Runners('Nick', 5000, 160),
 Runners('Justin', 5000, 160),
 Runners('Andrew', 3000, 152),
 Runners('Alicia', 5000, 150),
 Runners('Liz', 5000, 145),
 Runners('Angela', 5000, 135),
 Runners('Victoria', 3000, 134)]

In [15]:
runners.sort(key=lambda x: (x.name, x.weight))
pprint(runners)

[Runners('Alex', 5000, 150),
 Runners('Alicia', 5000, 150),
 Runners('Andrew', 3000, 152),
 Runners('Angela', 5000, 135),
 Runners('Justin', 5000, 160),
 Runners('Liz', 5000, 145),
 Runners('Nick', 5000, 160),
 Runners('Victoria', 3000, 134)]

In [19]:
baby_names = {
    'cat': 'kitten',
    'dog': 'puppy',
    'wolf': 'puppy'
}
print(baby_names)

{'cat': 'kitten', 'dog': 'puppy', 'wolf': 'puppy'}

In [21]:
def my_func(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} = {value}')
        
my_func(goose='gosling', kangaroo='joey')

goose = gosling
kangaroo = joey

In [29]:
dict_1 = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3',
    'key4': 'value4',
    'key5': 'value5',
    'key6': 'value6',
}

def func(x):
    for key, value in x.items():
        print("{0} = {1}".format(key, value))
func(dict_1)

key1 = value1
key2 = value2
key3 = value3
key4 = value4
key5 = value5
key6 = value6

In [31]:
class MyClass:
    def __init__(self):
        self.alligator = 'hatchling'
        self.elephant = 'calf'
a = MyClass()
for key, value in a.__dict__.items():
    print(f'{key} = {value}')

alligator = hatchling
elephant = calf

In [32]:
class FrequencyList(list):
    def __init__(self, members):
        super().__init__(members)
        
def frequency(self):
    counts = {}
    for item in self:
        counts[item] = counts.get(item, 0) + 1
    return counts

In [52]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

obj = pd.Series([5, 9, -2, -6])

In [35]:
obj

0    5
1    9
2   -2
3   -6
dtype: int64

In [37]:
obj2 = pd.Series([1, 9, -4, -9], index=['d', 'a', 'w', 'o'])

obj2

d    1
a    9
w   -4
o   -9
dtype: int64

In [38]:
obj2.index

Index(['d', 'a', 'w', 'o'], dtype='object')

In [39]:
obj2['w']

-4

In [46]:
print(obj2[['w', 'd', 'a']])

w   -4
d    1
a    9
dtype: int64

In [48]:
obj2[obj2>0]

d    1
a    9
dtype: int64

In [49]:
obj2*2

d     2
a    18
w    -8
o   -18
dtype: int64

In [50]:
obj2

d    1
a    9
w   -4
o   -9
dtype: int64

In [53]:
np.exp(obj2)

d       2.718282
a    8103.083928
w       0.018316
o       0.000123
dtype: float64

In [54]:
'w' in obj2

True

In [55]:
'e' in obj2

False

In [57]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3
# When passing a dict, the index in the resulting Series
# will have the dict's keys in sorted order

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [59]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [60]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [61]:
# Looking for values that are not missing, most of the data in the
# current Series satisfies this method
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [62]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [63]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [64]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [65]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [68]:
obj4.name = 'population'

In [69]:
obj4.name

'population'

In [70]:
obj4.index.name = 'state'

In [71]:
obj4.index.name

'state'

In [72]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [73]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
# This alters in-place by assignment

In [74]:
obj

Bob      5
Steve    9
Jeff    -2
Ryan    -6
dtype: int64

In [75]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [79]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

In [88]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [89]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [92]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object